@keyframes animateX {
  0% {
      opacity:0;
      transform: translateX(-100%);
  }
  100% {
      opacity:1;
      transform: translateX(0);
  }
}

@keyframes animateY {
  0% {
      opacity:0;
      transform: translateY(-100%);
  }
  100% {
      opacity:1;
      transform: translateY(0);
  }
}

h1 {
  text-align: center;
  font-size: 60px;
  color: DarkOrchid;
  animation: animateY 2s ease forwards;
}

h3 {
  color: red;
  font-size: 40px;
}

h2 {
  color: navy;
}

* {
  background-color: PowderBlue;
  font-family: 'Gayathri', sans-serif;
}

.questions {
  font-size: 30px;
}

.challenge_question {
  font-size: 30px;
}

img {
  margin: 0 1%;
  border: solid navy 2px;
}

.directions {
  font-size: 40px;
  color: rgb(20, 106, 5);
}

.submit_answers_here {
  color: black;
}

.check_answers_here {
  color: black;
}

hr {
  border: 2px solid black;
}

body {
	font-family: 'Gayathri', sans-serif;
}
